*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    margin: 0;
}

header{
    background-color: rgb(117, 165, 253);
    background-image: url(img/pattern.png);
    background-size: contain;
}
header > img{
    padding-top: 30px;
    width: 150px;
}

.container{
    padding: 0px 10px;
}
#title{
    margin-bottom: 2px;
}

#author{
    color: rgb(117, 165, 253);
}
#date{
    font-size: 10px;
}
.photo-description{
    font-size: 10px;
}
.highlight{
    background-color: yellow;
}

thead{
    text-align: left;
    color: white;
}

.column{
    width: 300px;
}
.last-column{
    width: 600px;
}
.head-row{
    background-color: rgb(117, 165, 253);
}

.odd-row{
    background-color: rgb(188, 233, 255);
}

#footer-title{
    color: grey;
}

.article{
    width: 250px;
    height: 150px;
}
.article-title{
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.monitor{
    background-image: url(img/monitor.jpg);
    background-size: cover;
}
.graph{
    background-image: url(img/graph.jpg);
    background-size: cover;
}